footer {
  @include flexi(flex, space-evenly, center, row);
  background-color: map-get($colores, bg-color);
  .redesFotter {
    @include flexi(flex, center, center, none);
    flex-wrap: wrap;
    transition: 3s ease-in-out;
    a {
      img {
        @extend %stylefooter;
        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }
  .pieUbicacion {
    iframe {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}
