.encabezado {
  @include flexi(flex, space-evenly, center, row);
  background-color: map-get($colores, bg-color);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: bold;
  a {
    img {
      height: 100%;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 50%;
      @include flexi(flex, center, start, row);
    }
  }
  nav {
    @include flexi(flex, center, center, row);

    ul {
      @include flexi(flex, center, center, row);
      list-style: none;
      height: 50px;
      width: 100%;
      gap: 15px;

      li {
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-weight: 1.3rem;
        font-style: bold;
        text-align: center;
        transition: 3s ease;
        &:hover {
          transform: translateY(-15px);
        }
        a {
          color: map-get($colores, word-color);
          text-decoration: none;
          border-radius: 35%;
          padding: 10px;
          background-color: map-get($colores, bg-color);
          &:hover {
            background-color: map-get($colores, bg-hover);
          }
        }
      }
    }
  }
}
