//*--------MAIN INDEX-----*//
.hero {
  @include flexi(flex, space-between, center, column);
  font-family: "Roboto", sans-serif;
  font-size: 200;
  font-style: italic;
  width: 100%;
  height: 80%;
  .quienesSomos {
    @include flexi(flex, center, center, column);
    background-image: url(../img/servicios.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid white;
    background-color: map-get($colores, bg-index);
    border: 4px solid black;
    .historia {
      @include flexi(flex, center, center, column);
      font-family: "Roboto", sans-serif;
      font-style: italic;
      color: black;
      font-size: 2.5rem;
      margin: 5px;
      .nosotros {
        font-size: 3rem;
        font-style: bold italic;
        border: 3px solid white;
        background-color: map-get($colores, bg-index);
      }
      h3 {
        @include flexi(flex, center, center, column);
        font-family: "Roboto", sans-serif;
        font-size: 2rem;
        color: black;
        margin: 5px;
        font-style: bold italic;
        border: 3px solid white;
        background-color: map-get($colores, bg-index);
      }
      p {
        font-family: "Roboto", sans-serif;
        font-style: italic;
        color: black;
        font-size: 1.2rem;
        border: 3px solid white;
        background-color: map-get($colores, bg-index);
      }
    }
    .vision {
      h3 {
        @include flexi(flex, center, center, column);
        font-family: "Roboto", sans-serif;
        font-size: 2.5rem;
        color: black;
        margin: 5px;
      }
      p {
        font-size: 1.2rem;
        border: 3px solid white;
        background-color: map-get($colores, bg-index);
        margin-bottom: 10px;
      }
    }
    .mision {
      h3 {
        @include flexi(flex, center, center, column);
        font-family: "Roboto", sans-serif;
        font-size: 2.5rem;
        color: black;
        margin: 5px;
      }
      p {
        font-size: 1.2rem;
        border: 3px solid white;
        background-color: map-get($colores, bg-index);
      }
    }
  }
}
.nuestrosServicios {
  .servicios {
    @include flexi(flex, center, center, column);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 50vh;
    border: 4px solid black;
    background-image: url("../img/servicios1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 3s ease-out;
    a {
      text-decoration: none;
      color: black;
      border: 3px solid white;
      background-color: map-get($colores, bg-index);
      font-family: "Roboto", sans-serif;
      font-size: 2.5rem;
      font-style: italic;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
}
.productos {
  .galeria {
    @include flexi(flex, center, center, column);
    margin-bottom: 10px;
    width: 100%;
    height: 50vh;
    border: 4px solid black;
    text-align: center;
    background-image: url(../img/galeria2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 3s ease-out;
    a {
      text-decoration: none;
      color: black;
      border: 3px solid white;
      background-color: map-get($colores, bg-index);
      font-family: "Roboto", sans-serif;
      font-size: 2.5rem;
      font-style: italic;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
}
.calzadoIndustria {
  border: 4px solid black;
  background-color: map-get($colores, bg-color);
  margin-bottom: 15px;
  @include flexi(flex, center, center, column);
  margin-bottom: 15px;
  .tituloIndustria {
    h2 {
      font-family: "Roboto", sans-serif;
      font-size: 2.5rem;
      font-style: italic;
      text-align: center;
      margin: 15px;
    }
    .videosIndustria {
      @include flexi(flex, space-around, center, row);
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
    }
  }
}
