/*------------------- MAIN CONTACTO----------------------*/

.formContacto {
  background-color: map-get($colores, bg-color);
}
.formContacto form {
  @include flexi(flex, center, center, row);
  flex-wrap: wrap;
}
.formContacto form div input {
  width: 100%;
}
.formContacto form .areaTexto label {
  @include flexi(flex, space-around, center, row);
  width: 100%;
}
.formContacto form .botonesForm div button {
  @include flexi(flex, space-around, center, row);
  width: 100%;
}
