/*------------------- MAIN GALERIA----------------------*/
.marcas {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: map-get($colores, bg-color);
  .infoMarcas {
    margin: 10px;
  }
  .subInfo {
    margin: 20px;
    .enlace {
      margin-top: 20px;
      a {
        background-color: map-get($colores, border-color);
        border: 3px solid map-get($colores, border-color);
        padding: 5px;
      }
    }
  }
}
