/*------------------- MAIN REDES----------------------*/
.redes {
  background-color: map-get($colores, bg-color);
  @include flexi(flex, space-between, center, column);
  .subtituloRedes {
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 15px;
    border: 4px solid map-get($colores, border-color);
    background-color: map-get($colores, bg-color);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 3rem;
    animation-name: slidetitulo;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-direction: initial;
    animation-iteration-count: initial;
  }
  .enlacesRedes {
    .linkRedes {
      @include flexi(flex, center, center, row);
      flex-wrap: wrap;
      a {
        img {
          height: 200px;
          margin: 10px;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
  .panelUbicacion {
    .subtituloRedes {
      width: 100%;
      height: 100%;
      align-items: center;
      margin: 15px;
      border: 4px solid map-get($colores, border-color);
      background-color: map-get($colores, bg-color);
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-style: italic;
      font-size: 3rem;
      animation-name: slidetitulo;
      animation-duration: 5s;
      animation-timing-function: ease-in-out;
      animation-direction: initial;
      animation-iteration-count: initial;
    }
    .seccionUbicacion {
      @include flexi(flex, flex-start, flex-start, column);
      div {
        iframe {
          @include flexi(flex, center, center, none);
          margin-top: 10px;
          width: 100%;
          height: 250px;
        }
      }
    }
  }
}
/*--------KEYFRAME TITULO REDES-------------*/
@keyframes slidetitulo {
  from {
    margin-left: 100%;
    width: 200%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
