/*------------------- MAIN CLIENTES----------------------*/
.ingresoClientes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: rgba(209, 226, 60, 0.514);
  .crearCuenta {
    .ingresoCuenta {
      h1 {
        margin: 15px;
        border: 4px solid rgb(210, 226, 60);
        background-color: rgba(209, 226, 60, 0.514);
      }

      .formCuenta {
        .itemForm {
          margin: 25px;
        }
        .itemBoton {
          button {
            padding: 10px;
            background-color: rgba(209, 226, 60, 0.514);
            font-style: italic;
          }
        }
      }
    }
    h2 {
      margin: 15px;
      border: 4px solid rgb(210, 226, 60);
      background-color: rgba(209, 226, 60, 0.514);
    }
    .formNuevo {
      .itemForm {
        margin: 25px;
      }
      .itemBoton {
        button {
          padding: 10px;
          background-color: rgba(209, 226, 60, 0.514);
          font-style: italic;
        }
      }
    }
  }
}
