/*----------- MAIN SERVICIOS -------*/
.encabezadoServicio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  .tituloServicio {
    font-style: bold italic;
    font-size: 3rem;
  }
}
.contenedorGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 0px;
  transition: 5s;
  .itemGrid {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 13px 15px 12px 0px rgba(201, 204, 73, 0.75);
    -webkit-box-shadow: 13px 15px 12px 0px rgba(201, 204, 73, 0.75);
    -moz-box-shadow: 13px 15px 12px 0px rgba(201, 204, 73, 0.75);
    border: 3px solid rgb(210, 226, 60);
    background-color: rgba(209, 226, 60, 0.514);
    &:hover {
      transform: scale(1.15);
      background-color: rgba(126, 68, 180, 0.795);
    }
    img {
      width: 25%;
      padding: 10px;
    }
    p {
      padding: 15px;
      font-size: 1.2rem;
    }
    .cuenta {
      .botonCuenta {
        a {
          text-decoration: none;
          padding: 5px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
