/*------------------- MAIN CONTACTO----------------------*/

.formContacto {
  background-color: map-get($colores, bg-color);
}
.formContacto .formularioContacto {
  @include flexi(flex, center, center, row);
  flex-wrap: wrap;
}
.formContacto .formularioContacto form div input {
  width: 100%;
}
.formContacto .formularioContacto form .areaTexto label {
  height: 100%;
}
.formContacto .formularioContacto form .botonesForm div {
  @include flexi(flex, center, center, row);
  height: 100%;
}
