/*----------------MEDIA QUERYS------------*/

@media screen and (max-width: 1060px) {
  .calzadoIndustria .videosIndustria {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .calzadoIndustria .videosIndustria iframe {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
  }
  .contenedorGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .itemGrid {
    justify-content: center;
    align-items: center;
  }
  .infoServicio p {
    padding: 0px;
  }
}

@media screen and (max-width: 1030px) {
  header .encabezado nav ul li {
    padding: 5px;
    font-size: 1rem;
    margin: 10px;
    background-color: transparent;
  }
}

@media screen and (max-width: 970px) {
  footer {
    @include flexi(column, center, center, column);
  }
  header .encabezado {
    @include flexi(column, center, center, column);
  }
  header .encabezado a {
    @include flexi(column, center, center, column);
  }
  header .encabezado nav ul {
    @include flexi(column, center, center, column);
    height: auto;
    padding: 5px;
  }
}

@media screen and (max-width: 765px) {
  .contenedorGrid {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
  .itemGrid {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .encabezadoServicio {
    font-size: 1rem;
    text-align: center;
  }
  .tituloServicio {
    font-size: 1.5rem;
    text-align: center;
  }
  .formContacto form {
    @include flexi(flex, center, center, column);
    flex-wrap: wrap;
  }
  .formContacto form div input {
    width: 250px;
  }
  .crearCuenta .ingresoCuenta .formCuenta .itemForm {
    @include flexi(flex, center, center, column);
  }
  .crearCuenta .formNuevo .itemForm {
    @include flexi(flex, center, center, column);
  }
}

@media screen and (max-width: 555px) {
  .marcas .subInfo .enlace {
    @include flexi(flex, center, center, column);
  }
}

@media screen and (max-width: 470px) {
  .redes .subtituloRedes {
    animation-play-state: paused;
  }
  .redes .enlacesRedes .linkRedes a img {
    height: 100px;
    margin: 5px;
  }
}
